#ul{
    list-style-image: url('../images/greybul.png');
}

#navigation_lside {
	float:left;
	width:20%;
	height:100%;
	padding:0 2em;
	background-image:url('../images/index1.png');
		
	
}
#navigation_rside {
	float:right;
	width:60%;
	height:100%;
	padding:0 2em;
	background-image:url('../images/grey2.png');
	/*background-color:00BFFF;*/
}

#navigation_up1{
	float:top;
	width:100%;
	height:30%;
	padding:0 2em;
	background-image:url('../images/index3.png');
	/*background-color:00BFFF;*/
}
/*#navigation_up2 {
	float:bottom;
	width:100%;
	height:1%;
	padding:0 2em;
	background-color:#6D3C09;	
}
#navigation_up3 {
	float:bottom;
	width:100%;
	height:1%;
	padding:0 2em;
	background-color:#744412; 
}
#navigation_up4 {
	float:top;
	width:100%;
	height:27%;
	padding:0 2em;
	background-image:url('index3.png');
	
}

#navigation_up6 {
	float:bottom;
	width:100%;
	height:2%;
	padding:0 2em;
	background-image:url('index3.png');
	background-color:B0C4DE;
}*/

